<a href="https://colab.research.google.com/github/BernasconiLorenzo06/PANDAS_FILE/blob/main/PANDAS_EXCEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [12]:
df = pd.read_excel('https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true', sheet_name = "products")
df.head()

,product_id,product_name,brand_id,category_id,model_year,list_price
0,1,Trek 820 - 2016,9,6,2016.0,379.99
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016.0,749.99
2,3,Surly Wednesday Frameset - 2016,8,6,2016.0,999.99
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016.0,2899.99
4,5,Heller Shagamaw Frame - 2016,3,6,2016.0,1320.99

1. l'elenco dei prodotti di una certa categoria inserita dall'utente. Ordinare i prodotti in ordine alfabetico sul nome

In [ ]:
categoria = int(input("inserire una categoria: "))
df[df["category_id"] == categoria][["product_name"]].sort_values(by="product_name")

2. l'elenco dei prodotti che hanno un prezzo compreso tra due estremi inseriti dall'utente. Ordinare i prodotti in ordine decrescente sul prezzo

In [ ]:
prezzo_estremo1 = float(input("inserire un prezzo"))
prezzo_estremo2 = float(input("inserire un prezzo"))
df[df["list_price"] >= prezzo_estremo1 & df["list_price"] <= prezzo_estremo2]

3. l'elenco dei prodotti che hanno nel nome una stringa inserita dall'utente. Ordinare i prodotti in ordine alfabetico.

4. il numero di prodotti per ogni categoria.

In [ ]:
dfprodotti_categoria = df.groupby("category_id")[["product_name"]].count()
dfprodotti_categoria

5. il grafico che rappresenta il numero di prodotti per ogni categoria

In [22]:
import matplotlib.pyplot as plt
import numpy as np

In [23]:
labels = dfprodotti_categoria['category_id']
dati = dfprodotti_categoria['product_name'] 

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(labels, dati, label='totale vaccinati in ogni regione')

KeyError: ignored