<a href="https://colab.research.google.com/github/BernasconiLorenzo06/PANDAS_FILE/blob/main/PANDAS_group_by_su_una_colonna_funzioni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv")
df

,area,forn,numero_dosi,data_consegna,N1,N2,ISTAT,reg
0,ABR,Pfizer/BioNTech,135,2020-12-27,ITF,ITF1,13,Abruzzo
1,ABR,Pfizer/BioNTech,7800,2020-12-30,ITF,ITF1,13,Abruzzo
2,ABR,Pfizer/BioNTech,3900,2021-01-05,ITF,ITF1,13,Abruzzo
3,ABR,Pfizer/BioNTech,3900,2021-01-07,ITF,ITF1,13,Abruzzo
4,ABR,Pfizer/BioNTech,3900,2021-01-11,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...
7673,VEN,Pfizer/BioNTech,77760,2022-12-21,ITH,ITH3,5,Veneto
7674,VEN,Sanofi,4800,2023-01-10,ITH,ITH3,5,Veneto
7675,VEN,Pfizer/BioNTech,14400,2023-01-30,ITH,ITH3,5,Veneto
7676,VEN,Novavax,1000,2023-02-03,ITH,ITH3,5,Veneto
7677,VEN,Pfizer/BioNTech,1170,2023-04-19,ITH,ITH3,5,Veneto

1. visualizzare il numero totale di record presenti nel file

In [ ]:
len(df)

2. visualizzare il numero di record presenti relativi ad una regione inserita dall'utente

In [ ]:
regione = input("inserire una regione   ")
len(df[df["reg"] == regione])

3. modificare l'esercizio precedente per rispondere con un messaggio appropriato se la regione non Ã¨ presente

In [ ]:
regioneInput = input("inserire una regione   ")
if regioneInput in list(set(df["reg"])):
  print("regione presente  ")
else:
  print("regione  non presente  ")

4. visualizzare il numero totale di vaccini consegnati in una regione inserita dall'utente

In [ ]:
regioneInput = input("inserire una regione   ")
df[df["reg"] == regioneInput].groupby("reg")[["numero_dosi"]].sum()

inserire una regione   Lombardia

           numero_dosi
reg
Lombardia     28003529

#FUNZIONE crea la funzione che moltiplichi il numero di dosi per un numero

In [ ]:
def moltiplicatore(n_dosi):
  return n_dosi * 10

creiamo una colonna del dataframe dove vedremo il risultato della funzione

In [ ]:
df["moltiplicatore"] = moltiplicatore(df["numero_dosi"])
df

5. visualizzare il numero totale di vaccini per ogni fornitore

6. visualizzare il numero di vaccini per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine
decrescente sul numero di vaccini

7. visualizzare le informazioni dell'esercizio 6 con un grafico a barre verticali e uno a barre orizzontali. Indicare in modo appropriato il titolo, la legenda e le informazioni presenti negli assi